body {
  background-color: blue;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  background-color: rgb(49, 32, 65);
}

.navbar .nav-items {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.navbar .nav-items ul {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  list-style-type: none;
  text-decoration: none;
}

.nav-items ul li a {
  color: white;
  text-decoration: none;
}

.nav-search {
  align-self: center;
  display: flex;
  gap: 4px;
}

.nav-search input {
  padding: 8px;
  border-radius: 24px;
}

.nav-search button {
  border-radius: 24px;
  background-color: transparent;
  border: 1px solid green;
  color: green;
}

.nav-search button:hover {
  background-color: green;
  color: white;
}
